<link href="bootstrap.min.css" rel="stylesheet">
<link href="mycssfile.css" rel="stylesheet">

<form class="container"  action="add_submit" method="post">
    <div>
        <label>请按正确的格式输入（格式：姓名, 学号, 学科: 成绩, ...）,点击按钮提交：</label>
        <input id="stuinfo" class="form-control" name="stuinfo" />
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>