<link href="bootstrap.min.css" rel="stylesheet">
<link href="mycssfile.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="container">
    <label id="label1">请输入学生信息（格式：姓名, 学号, 民族, 班级, 学科: 成绩, ...）,点击按钮提交</label>
    <input id="stu-info" class="form-control" name="stu-info" />
    <br>
    <button id='btn1' class="btn btn-default">Submit</button>
</div>

<script>
    $(document).ready(() => {
        $('#btn1').click(() => {
            $.ajax({
                type: "post",
                url: "/add_submit",
                data: {
                    stuInfo:$('#stu-info').val()
                },
                success: function(response) {
                    if(response === 'error') {
                        alert("学生信息有误！");
                        $('#label1').html("请按正确的格式输入（格式：姓名, 学号, 学科: 成绩, ...）,点击按钮提交：");
                    }
                    else{
                        alert("学生" + response.name + '的成绩添加成功！');
                        window.location.href = "/";
                    }
                },
                error:function(response){
                }
            });
        });
    });
</script>



