<link href="bootstrap.min.css" rel="stylesheet">
<link href="mycssfile.css" rel="stylesheet">

<script src="/js.cookie.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<title>Report Card</title>

<div class="container  text-center">
    <div class="col-md-3 main-div">
        <a href="./add_student" class="btn btn-primary btn-lg active" role="button">1. 添加学生</a>
    </div>
    <div class="col-md-3 main-div">
        <a href="./create_report_card" class="btn btn-primary btn-lg active" role="button">2. 生成成绩单</a>
    </div>
    <div class="col-md-3 main-div">
        <a href="./update_student" class="btn btn-primary btn-lg active" role="button">3. 修改及删除学生信息</a>
    </div>
    <div class="col-md-3 main-div">
        <a id="quit" hidden="hidden" href="main_with_quit" class="btn btn-primary btn-lg active" role="button">4. 退出</a>
    </div>
</div>

<script>
    $(document).ready(() => {
        $('#quit').click(() => {
            Cookies.remove('url');
        });
    });
</script>

<script>
    //alert(Cookies.get('url'));
    if(typeof(Cookies.get('url')) == "undefined"){
        $('#quit').hide();
        Cookies.set('url', 'y');
    }
    else{
        $('#quit').show();
    }
</script>






