<link href="bootstrap.min.css" rel="stylesheet">
<link href="mycssfile.css" rel="stylesheet">

<div class="container text-center">
    <div class="col-md-4">
        <a href="./add_student" class="btn btn-primary btn-lg active" role="button">1. 添加学生</a>
    </div>
    <div class="col-md-4">
        <a href="./create_report_card" class="btn btn-primary btn-lg active" role="button">2. 生成成绩单</a>
    </div>
    <div class="col-md-4">
        <a href="./main" class="btn btn-primary btn-lg active" role="button">3. 退出</a>
    </div>
</div>
