<link href="bootstrap.min.css" rel="stylesheet">
<link href="mycssfile.css" rel="stylesheet">

<form class="container" action="main_with_quit">
    <div>
        <pre style="font-size: 1.2em; font-weight: 600"><%= reportResult%></pre>
        <button class="btn btn-default" type="submit">Go Back</button>
    </div>
</form>